.taskBox {
  background-color: #fff;
  border: 1px solid var(--primaria);
  border-radius: 15px;
  box-shadow: var(--sombra);
  width: 310px;
  padding: 15px 35px 15px 30px;
  position: relative;
  margin: 30px 0;
  margin-right: 50px;
}

.taskBox p {
  color: var(--escuro);
  font-weight: 500;
  margin-bottom: 0 !important;
  word-wrap: break-word;
}

.taskBox img.check{
  position: absolute;
  left: -20px;
  cursor: pointer;
  border-radius: 50%;
  top: 9px;
  background-color: var(--primaria);
  padding: 3px;
}

.taskBox img.edit{
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 12px;
  padding: 3px;
  box-shadow: none;

  transition: all 0.5s ease-in-out;
}

.taskBox img.edit:hover{
  filter: brightness(0.5);
}

.taskBox img.check:hover {
  box-shadow: var(--icones);
}

.prioridade {
  color: #fff;
  background-color: var(--vermelho);
  font-size: 0.7rem;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 5px;
  display: inline;
  position: absolute;
  top: -18px;
  right: -20px;
}
