input[type="text"].textLike {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 1rem !important; 
  cursor: pointer;
  min-width: 200px !important;
}


.textLike::placeholder{
  font-size: 1rem !important; 
  font-weight: 300;
}

#addTask {
  display: flex;
  align-items: center;
}

#addTask button {
  background-color: transparent;
  padding: 5px 10px;
  color: var(--primaria);
  box-shadow: none;
}

#addTask button:hover {
  background-color: var(--primaria);
  color: #fff;
  box-shadow: var(--sombra);
}