input[type="text"].textLike {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 1rem !important; 
  cursor: pointer;
}

.textLike::placeholder{
  font-size: 1rem !important; 
  font-weight: 300;
}

.center {
  display: flex;
}